{{ define "main" }}
<h1>Cocoatype, LLC</h1>
<p>Cocoatype is an app development company owned and operated by indie developer <a href="https://pado.name/">Geoff Pado</a>. Cocoatype publishes a number of iOS and Mac apps, and also a single Windows app for some reason.</p>
<p>This page isn't really meant to be visited directly. It's more a place to you might end up at out of curiosity, or be driven to by Google. Maybe you found it in a social media bio somewhere. It's really just a collection of links to more interesting pages. With that in mind, let's get to it:</p>
<h2>Apps by Cocoatype</h2>
<p><a href="https://blackhighlighter.app"><strong>Black Highlighter</strong></a> makes it easy to hide secret information you don't want to share in images you're going to share anyway.</p>
<p><a href="https://scrawlapp.com"><strong>Scrawl</strong></a> is a place to put temporary notes. Once your notes are in Scrawl, they're easy to access everywhere: your lock screen, your home screen, your Mac, and more.</p>
<p><a href="https://kineo.app/"><strong>Kineo</strong></a> doesn't exist yet. Or, it did exist, but doesn't now. But it will again soon. Perhaps a later link will help you with this more.</p>
<h2>Online Presence</h2>
<p>You can watch live-streaming of work on the Cocoatype apps on <a href="https://twitch.tv/cocoatype"><strong>Twitch</strong></a>. Streams happen most Mondays and Wednesdays at 7:00pm Pacific.</p>
<p>Like all good #brands, Cocoatype has a <a href="https://twitter.com/cocoatype"><strong>Twitter</strong></a> account. It's Geoff's old personal account, and posted to rarely, but a good way to get in contact.</p>
<p>Speaking of getting in contact, there's always the old standard of e-mail. Reach out to <a href="mailto:hello@cocoatype.com"><strong>hello@cocoatype.com</strong></a> with any questions, comments, press inquiries, etc.</p>

{{ end }}